.migration-world-map .marks .land {
    fill: #ECECEC;
}

.migration-world-map .marks .interiors {
    fill: none;
    stroke: #D9DFE0;
}

.migration-world-map .marks .sphere {
    fill: #FBFBFB;
}

.migration-world-map .marks .graticules {
    fill: none;
    stroke: #ECECEC;
}

.migration-world-map .marks circle {
    fill: #137B80;
    opacity: 0.5;
}

.migration-world-map .date-histogram .tick line {
    stroke: #ECECEC;
}

.migration-world-map .date-histogram .tick text {
    fill: #635F5D;
    font-size: 0.7em;
}

.migration-world-map .date-histogram .mark {
    fill: #137B80;
}

.migration-world-map .date-histogram .mark path {
    fill: none;
    stroke: #137B80;
    stroke-width: 5;
    stroke-linejoin: round;
    stroke-linecap: round;
}

.migration-world-map .date-histogram .axis-label {
    font-size: 0.7em;
    fill: #635F5D;
}