.missing-migrants-chart .tick line {
    stroke: #C0C0BB;
}

.missing-migrants-chart .tick text {
    fill: #635F5D;
}

.missing-migrants-chart .mark {
    fill: #137B80;
}

.missing-migrants-chart .mark path {
    fill: none;
    stroke: #137B80;
    stroke-width: 5;
    stroke-linejoin: round;
    stroke-linecap: round;
}

.missing-migrants-chart .axis-label {
    font-size: 2em;
    fill: #635F5D;
}