.world-map .marks .land {
    fill: #ECECEC;
}

.world-map .marks .interiors {
    fill: none;
    stroke: #D9DFE0;
}

.world-map .marks .sphere {
    fill: #FBFBFB;
}

.world-map .marks .graticules {
    fill: none;
    stroke: #ECECEC;
}

.world-map .marks circle {
    fill: #137B80;
    opacity: 0.5;
}